RHT_OCP4_MASTER_API=https://api.na410r.prod.ole.redhat.com:6443/
RHT_OCP4_WILDCARD_DOMAIN=apps.na410r.prod.ole.redhat.com
RHT_OCP4_NEXUS_SERVER=nexus-common.apps.na410r.prod.ole.redhat.com
RHT_OCP4_DEV_USER=enzuhz
RHT_OCP4_DEV_PASSWORD=02cb6aafa6034592ada5
RHT_OCP4_GITHUB_USER=Naldodf
RHT_OCP4_QUAY_USER=naldo_df
